package-lock.json
*.lnk

/node_modules
/environment/mysql/data
/environment/phpmyadmin/data
/environment/js/logger.log

/public/bundle/
/public/**/*.php
/public/**/*.js
/public/resource/upload/*
!/public/resource/upload/.gitkeep
/release/resource/upload/*
!/release/resource/upload/.gitkeep
/release/.htaccess
/public

.env

log/**
